
.header{
    position: sticky;
    top: 0;
    width:100%;
    background-color: aqua;
    color:black;
    padding: 15px;
    text-align: center;
}

.content{
    padding: 20px;
    background: lawngreen;

}




